<?xml version="1.0"?>

 <robot name="OrangeCar">
  <material name="orange">
    <color rgba="1.0 0.5 0.2 0.5" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 0.5" />
  </material>
  <material name="black">
    <color rgba="0 0 0 0.5"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 0.5"/>
  </material>

 <link name="base_link" >
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0.12"/>
    <geometry>
      <cylinder length="0.24" radius="0.18"/>
    </geometry>
    <material name="orange" />
  </visual>

  <visual>  <!--left wheel-->
    <origin rpy="1.57075 0 0" xyz="0.08 0.1 0"/>
    <geometry>
      <cylinder length="0.02" radius="0.06"/>
    </geometry>
    <material name="balck" />
  </visual>

  <visual>  <!--middle wheel-->
    <origin rpy="1.57075 0 0" xyz="-0.10 0 0"/>
    <geometry>
      <cylinder length="0.02" radius="0.06"/>
    </geometry>
    <material name="balck" />
  </visual>

  <visual>  <!--right wheel-->
    <origin rpy="1.57075 0 0" xyz="0.08 -0.1 0"/>
    <geometry>
      <cylinder length="0.02" radius="0.06"/>
    </geometry>
    <material name="balck" />
  </visual>
 </link>

 <link name="imu_link">
  <visual>
    <origin xyz="0 0 0" />
    <geometry>
      <box size="0.06 0.04 0.02" />
    </geometry>
    <material name="write" />
  </visual>
 </link>

  <link name="laser_link">
  <visual>
    <origin xyz="0 0 0" />
    <geometry>
      <cylinder length="0.07" radius="0.04" />
    </geometry>
    <material name="gray" />
  </visual>
 </link>


 <joint name="imu_link_joint" type="fixed">
  <parent link="base_link" />
  <child link="imu_link" />
  <origin rpy="0.00349 0.12392 0" xyz="0 0 0.12" />
 </joint>


 <joint name="laser_link_joint" type="fixed">
  <parent link="base_link" />
  <child link="laser_link" />
  <origin rpy="0 0 3.1415926" xyz="0.1 0 0.28"/>
 </joint>


</robot>
