*.user
*.user.*
*.catkin_workspace
*.workspace
*~
*.swp
*.autosave
*.o
*Makefile
*moc_udp_socket.cpp
*moc_tcp_socket.cpp
*moc_key_control.cpp
*moc_mainwindow.cpp
*ui_mainwindow.h
*build_isolated
*devel_isolated
*install_isolated
*build
*devel
*install


src/amcl/
temp/
build/
devel/
catkin_generated/
catkin/
build-a_robot_platform-Desktop-Debug/
build-src-Desktop-Debug/
