*.user
*.user.*
*.catkin_workspace
*.workspace
*~
*.swp
*.autosave
*.o

src/amcl/
temp/
googleMapping/
build/
devel/
catkin_generated/
catkin/
build-a_robot_platform-Desktop-Debug/
build-src-Desktop-Debug/
